@font-face {
  font-family: 'Inter';
  src: url('../../fonst/Inter-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
* {
  font-family: 'Inter', sans-serif !important;
}
body {
  background: #f7f7f7;
}
.layout {
  width: 1010px;
  margin-inline: auto;
  padding: 36px;
  background: white;
  gap: 36px;
}

.spin {
  background: white;
}

.ant-pagination-options {
  display: none !important;
}
