.layout .list .list__item {
  min-width: 451px;
  min-height: 279px;
  margin-bottom: 34px;
  box-shadow: 0 4px 12px 3px rgba(0, 0, 0, 0.15);
}
.list__item .list__sider {
  width: 183px;
  height: 281px;
}

.list__sider,
.list__header {
  background: inherit;
  padding: 0;
}
.list__body .list__header {
  height: max-content;
}
.list__body .list__title {
  font-size: 20px;
  margin-bottom: 0;
  max-width: 205px;
}
.list__body {
  gap: 5px;
  padding: 10px;
  padding-left: 20px;
  padding-bottom: 0;
  background: white;
  max-height: 281px;
}
.list__body span {
  font-size: 12px;
  line-height: 183%;
}
.list__body .list__rate {
  margin-top: auto;
  height: 35px;
}
.list__body .list__rate span {
  font-size: 16px;
}
@media (max-width: 1009px) {
  .list__body .list__title {
    max-width: 80%;
  }
}
